#tasks_container{
	display: none;
}

#config_container{
	display: none;
}

#groups_container{
	display: none;
}

.white-background{
	background-color: white;
}

.container-margin{
	margin-bottom: 40px;
}

#container-resultat {
    text-align: center;
}

#start-test-btn {
    margin-top: 18px;
    box-shadow: 0 0 10px gray;
    transition: all .4s ease-out;
}

#start-test-btn:hover {
    box-shadow: 0 0 30px gray;
}

#container-resultat {
    display: none;
}

.table-client-output {
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.table tbody td.info-td {
    background-color: #d9edf7;
}
.table tbody td.error-td {
    background-color: #f2dede;
}
.table tbody td.success-td {
    background-color: #dff0d8;
}
.table tbody td.warning-td {
    background-color: #fcf8e3;
}

#btn-accept-variant {
    display: none;
    margin-top: -20px;
}

.question-content {
    margin-left: 50px;
    overflow: hidden;
}

.question-btn {
    margin-left: 10px;
}

.request-indicator-question {
    position: absolute;
    margin-top: 7px;
    display: none;
}

#list-question li i.icon-ok-circle {
    position: absolute;
    margin: 12px -25px;
    display: none;
}

#input-container{
    display: none;
    text-align:center;
}

#input-container input{
    width: 250px;
    margin-bottom: 5px;
}

#input-container .error-text{
    color: red;
    opacity: 0.0;
}

#input-container select{
    width: 250px;
    margin-bottom: 20px;
}

#input-container h3{
    margin-bottom: 10px;
}

.test-descr{
    margin-top:30px;
    margin-bottom:50px;
}

#loading-view{
    display: none;
    text-align:center;
}

#loading-view h1{
    margin-top:200px;
    margin-bottom:20px;
}

.select-variant{
    display: none;
}

.start-test{
    display: none;
}


#question-container{
    display: none;
    margin-top: 50px;
}

#question-container h1{
    margin-bottom: 20px;
}

#question-container h3{
    margin-bottom: 20px;
}

#result-container{
    display: none;
}

#result-container h1{
    margin-top: 40px;
    margin-bottom: 20px;
}